@import 'colors';

.hero {
  &.half {
    height: 25%;
    .intro-text {
      padding-top: 20px;
    }
  }
  video {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    height: auto;
    top: 0;
  }
  .row {
    position: relative;
    z-index: 2;

    p {
      position: relative;
      z-index: 2;
    }
  }
}
.row {
  margin: 1em auto;
}

.article {
  position: relative;
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: top;

  img {
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .overlay {
    width: 100%;
    height: 140px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .caption {
    position: absolute;
    z-index: 2;
    color: #FFF;
    margin-top: -60px;
    margin-left: 20px;
    text-align: left;

    h5 {
      color: #FFF;
      font-weight: 100;
    }
    span {
      color: #FFF;
    }
  }
}
.portfolioItems {
  p {
    color: #9A9A9A;
    font-size: 14.5px;
    line-height: 1.4em;
    font-weight: 300;
    margin-top: 10px;
    padding: 0 10px;

    &.meta {
      font-size: 12px;
      padding-bottom: 0;
    }
  }
  a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: lighten(#000, 20%) lighten(#000, 20%) #000 #000;

    .caption {
      background-color: rgba(0, 0, 0, .7);

      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      span {
        color: $primary;
        margin-top: 30%;
        position: relative;
        margin-bottom: 0;
        font-size: 12px;
        display: block;
        margin-left: 20px;
      }

      h5 {
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
        font-size: 1.5em;
        letter-spacing: -.5px;
        line-height: 1.2em;
        color: #fff;
        font-weight: 300;
      }

      &:hover {
        h5 {
          text-decoration: underline;
        }
      }
    }
  }
}

.breadcrumbs {
  background: transparent;
  border: 0;
  padding: 0;
  margin: -9px 0 10px 0;
  border-radius: 0;

  > * a {
    color: #528CE0;
    text-decoration: underline;
  }
}


body {
  font-family:'Raleway',Helvetica,Arial,sans-serif;
  font-weight:400;
  background-color:rgba(0,0,0,0.02);
}
.button{
  font-family:'Raleway',Helvetica,Arial,sans-serif;
}
.button-group li{padding-top:3%;}
.button-group a{color:#FFF;background-color:transparent; border: 0; border-radius: 25px;}
.button-group a:hover{color:rgba(0,0,0,0.6);border:0; background-color: rgba(255, 255, 255, 0.5);}
.button-group{float:none;}
.button-group > li .button { border-left: 0;}
@media only screen and (min-width: 40.063em) {
  .button-group{float:right;}
}
.namelogo{padding:20px 10px 0 10px;}
@media only screen and (min-width: 40.063em) {
  .namelogo{padding-bottom:20px;}
}
.namelogo h1{font-size:1.5em;font-weight:600;text-align:center;}
@media only screen and (min-width: 40.063em) {
  .namelogo h1{font-size:16px;text-align:left;}
}
@media only screen and (min-width: 64.063em) {
  .namelogo h1{font-size:24px;text-align:left;}
}
.hero{
  height:80%;
}
.intro-text{padding-top:14%;color:rgba(255,255,255,1);text-align:center; text-shadow: 1px 1px 1px #000;}
.intro-text p{
  font-size:44px;
}
.about,.work,.contact{padding:50px 0 0 0;}
.about img{width:250px;height:250px;border-radius:150px;-webkit-border-radius:150px;-moz-border-radius:150px;}
.work img:hover{opacity:0.5;-webkit-transition:0.3s ease;-moz-transition:0.3s ease;-ms-transition:0.3s ease;-o-transition:0.3s ease;transition:0.3s ease;}
.work li{height:140px;overflow:hidden;}
hr{border:0;height:1px;background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));opacity:0.8;}
footer{padding: 20px 0 10px 0; margin-top: 3em;}
footer a:hover{color:rgba(0,0,0,0.4);background-color:transparent;}

.hero.still {
  height: 40%;
  background: $primary;

  h1 a {
    color: #FFF;
  }
  .intro-text {
    padding-top: 8%;
    text-align: left;
    text-shadow: 1px 1px 1px #000;
  }
}